<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>rails 4.x heroku template</title>
	</head>
	<body>
		<header>
			<!-- <h1>Sample Header</h1> -->
		</header>
		<div class ="maincontent">
			<%= yield %>
		</div>
		<footer>
			<!-- Copyright &copy; <%= Time.now.year %> Namoricoo -->
		</footer>		
	</body>
	</body>
</html>

